.card-container {
	background-color: #240235;
	min-width: 350px;
	max-width: 600px;
	height: auto;
	border-radius: 14px;
	box-shadow: 0px 10px 30px hsl(185, 75%, 35%);
   
}

header {
	background-color: #7c3464;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
    border-style: double;
}
h1{
    color: #7c3464;
    text-align: center;
    font-family: Bradley Hand ITC;
}
h2{
    color: #c4384a;
}
h3{
    color: gray;
    text-align: center;
}

img {
	margin: auto;
	width: 100px;
	border: solid white 2px;
	border-radius: 50%;
	margin-top: 75px;
}

.bold-text {
	font-weight: bold;
	font-size: 12px;
	text-align: center;

}

.normal-text {
	font-weight: normal;
	font-size: 15px;
	text-align: right;
	padding-bottom: 20px;
}

.smaller-text {
	font-weight: normal;
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.social-container1 {
	display: flex;
	text-align: center;
}


.email {
	padding: 10px;
}

.phone {
	padding: 10px;
}
.social-container2 {
	display: flex;
	text-align: center;
	
}
.home {
	flex: 5;
	padding: 10px;
	
}
.website{
    flex:3;
	padding: 10px;
}